*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}

.content{
    padding: 15px;
    
  .container{
    .section{
        height: 110px;

        &:hover{
           background-color: #F5F9FC;
        }
    }

.our-title{
    display: flex;
    .text{
       text-align: start;
       font-style: bold;
       width: 60%;
       h2{
        font-size: 30px;
       }
    }
    input{
        width: 20%;
        height: 20px;
        margin: 2px;
        border: 1px solid rgba(255, 166, 0, 0.897);
        font-size: 12px;
    }
    button{
        position: absolute;
        right: 81%;
        font-size: 10px;
        background-color: rgba(215, 145, 14, 0.723);
        box-sizing: content-box;
        height: 20px;
        width: 70px;
        top: 8%;
        border: none;
        color: white;
    }
   }

.our-mission{
    display: flex;
    .text{
        text-align: start;
        font-style: bold;
        width: 60%;
        h2{
            font-size: 30px;
            color: orange;
        }
    }
    button{
        position: relative;
        width: 50px;
        border: 1px solid rgba(255, 166, 0, 0.868);
        background-color: white;
        height: 14px;
        box-sizing: content-box;
        margin: 2px;
        padding: 2px;
    }
  }

  .our-story{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    img{
        width: 100px;
        height: 80px;
        position: relative;
        border: none;
        background-color: gainsboro;
        color: white;
        left: 50px;
        margin: 2px;
        padding: 2px;
    }
    }
  }
 }